<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <%- include ('partials/head.html')%>

</head>

<body>
    <%- include ('partials/navigation.html')%>
    <div class="container">
        <div class="col-lg-12 text-center">
            <img src="/img/pews-logo.png" alt="Pews Logo" class="animated bounceIn">
        </div>
    </div>

    <!-- SECTION ONE -->
    <div class="container-fluid" id="about">
        <div class="row bg-dark text-white p-5 text-center">
            <div class="col-sm-6">
                <i class="fab fa-youtube fa-10x"></i>
            </div>
            <div class="col-sm-6">
                <h3>The most suscribe Youtuber</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint distinctio architecto incidunt beatae
                    quo! Rerum voluptatem nulla velit maxime quas qui repudiandae quae molestias distinctio iure,
                    repellendus voluptas suscipit nihil.</p>
            </div>
        </div>
    </div>

    <%- include('partials/footer.html')%>

</body>

</html>